.margin-t-l {
	margin-top: 15%
}

.margin-t-m {
	margin-top: 10%
}

.margin-t-s {
	margin-top: 5%
}

body {
	background-image: url(/img/bg/pattern.png);
}

.logo {
	filter: drop-shadow(0 0 1rem rgb(215, 212, 212));
}

.container-smal {
	width: 90%;
	margin: 0 auto;
}

.mreset {
	margin: 0;
	padding: 0;
}

/* label focus color */
 .input-field input:focus + label {
   color: #bdbdbd !important;
 }
 /* label underline focus color */
 .row .input-field input:focus {
   border-bottom: 1px solid #bdbdbd !important;
   box-shadow: 0 1px 0 0 #bdbdbd !important
 }

/* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #bdbdbd !important;
     box-shadow: 0 1px 0 0 #bdbdbd !important;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #bdbdbd !important;
     box-shadow: 0 1px 0 0 #bdbdbd !important;
   }

   .tabs .tab a{
            color:#bdbdbd;
        } /*Black color to the text*/

        .tabs .tab a:hover {
            background-color:#eee;
            color:#000;
        } /*Text color on hover*/

        .tabs .tab a.active {
            background-color:#eee;
            color:#000;
        } /*Background and text color when a tab is active*/

        .tabs .indicator {
            background-color:#000;
        } /*Color of underline*/