<!DOCTYPE html>
<html>
<head>
	<title>Chessval</title>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="/css/global.css">
	<link rel="stylesheet" type="text/css" href="/css/game.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<div class="row mreset">
		<!-- menu de gauche -->
		<div class="col s3">
			<div class="logo">
				<center>
					<img src="/img/logo/logo.png">
				</center>
			</div>
			<div id="info" hidden class="container-smal">
				<div class="row margin-t-l">
					<div class="col s12">
						<div class="card-panel">
							<h4 class="center-align"><b id="name">Chevalier</b></h4>
							<div class="margin-t-m">
								<ul>
									<li class="collection-item"><h5><img class="pictos" src="/img/pictos/hp.png"> Vie<div id="life" class="secondary-content">10/20</div></h5></li>

									<li class="collection-item"><h5><img class="pictos" src="/img/pictos/range.png"> Portée<div id="range" class="secondary-content">1</div></h5></li>

									<li class="collection-item"><h5><img class="pictos" src="/img/pictos/move.png"> Déplacement<div id="move" class="secondary-content">4</div></h5></li>

									<li class="collection-item"><h5><img class="pictos" src="/img/pictos/damage.png"> Dégats<div id="damage" class="secondary-content">20</div></h5></li>

								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- jeu -->
		<div class="col s6">
			<div style="margin-top: 20px">
			<table class="chess_table">
				<tr>
					<td id="g_0_0"><div></div></td>
					<td id="g_1_0"><div></div></td>
					<td id="g_2_0"><div></div></td>
					<td id="g_3_0"><div></div></td>
					<td id="g_4_0"><div></div></td>
					<td id="g_5_0"><div></div></td>
					<td id="g_6_0"><div></div></td>
					<td id="g_7_0"><div></div></td>
					<td id="g_8_0"><div></div></td>
					<td id="g_9_0"><div></div></td>
				</tr>
				<tr>
					<td id="g_0_1"><div></div></td>
					<td id="g_1_1"><div></div></td>
					<td id="g_2_1"><div></div></td>
					<td id="g_3_1"><div></div></td>
					<td id="g_4_1"><div></div></td>
					<td id="g_5_1"><div></div></td>
					<td id="g_6_1"><div></div></td>
					<td id="g_7_1"><div></div></td>
					<td id="g_8_1"><div></div></td>
					<td id="g_9_1"><div></div></td>
				</tr>
				<tr>
					<td id="g_0_2"><div></div></td>
					<td id="g_1_2"><div></div></td>
					<td id="g_2_2"><div></div></td>
					<td id="g_3_2"><div></div></td>
					<td id="g_4_2"><div></div></td>
					<td id="g_5_2"><div></div></td>
					<td id="g_6_2"><div></div></td>
					<td id="g_7_2"><div></div></td>
					<td id="g_8_2"><div></div></td>
					<td id="g_9_2"><div></div></td>
				</tr>
				<tr>
					<td id="g_0_3"><div></div></td>
					<td id="g_1_3"><div></div></td>
					<td id="g_2_3"><div></div></td>
					<td id="g_3_3"><div></div></td>
					<td id="g_4_3"><div></div></td>
					<td id="g_5_3"><div></div></td>
					<td id="g_6_3"><div></div></td>
					<td id="g_7_3"><div></div></td>
					<td id="g_8_3"><div></div></td>
					<td id="g_9_3"><div></div></td>
				</tr>
				<tr>
					<td id="g_0_4"><div></div></td>
					<td id="g_1_4"><div></div></td>
					<td id="g_2_4"><div></div></td>
					<td id="g_3_4"><div></div></td>
					<td id="g_4_4"><div></div></td>
					<td id="g_5_4"><div></div></td>
					<td id="g_6_4"><div></div></td>
					<td id="g_7_4"><div></div></td>
					<td id="g_8_4"><div></div></td>
					<td id="g_9_4"><div></div></td>
				</tr>
				<tr>
					<td id="g_0_5"><div></div></td>
					<td id="g_1_5"><div></div></td>
					<td id="g_2_5"><div></div></td>
					<td id="g_3_5"><div></div></td>
					<td id="g_4_5"><div></div></td>
					<td id="g_5_5"><div></div></td>
					<td id="g_6_5"><div></div></td>
					<td id="g_7_5"><div></div></td>
					<td id="g_8_5"><div></div></td>
					<td id="g_9_5"><div></div></td>
				</tr>
				<tr>
					<td id="g_0_6"><div></div></td>
					<td id="g_1_6"><div></div></td>
					<td id="g_2_6"><div></div></td>
					<td id="g_3_6"><div></div></td>
					<td id="g_4_6"><div></div></td>
					<td id="g_5_6"><div></div></td>
					<td id="g_6_6"><div></div></td>
					<td id="g_7_6"><div></div></td>
					<td id="g_8_6"><div></div></td>
					<td id="g_9_6"><div></div></td>
				</tr>
				<tr>
					<td id="g_0_7"><div></div></td>
					<td id="g_1_7"><div></div></td>
					<td id="g_2_7"><div></div></td>
					<td id="g_3_7"><div></div></td>
					<td id="g_4_7"><div></div></td>
					<td id="g_5_7"><div></div></td>
					<td id="g_6_7"><div></div></td>
					<td id="g_7_7"><div></div></td>
					<td id="g_8_7"><div></div></td>
					<td id="g_9_7"><div></div></td>
				</tr>
				<tr>
					<td id="g_0_8"><div></div></td>
					<td id="g_1_8"><div></div></td>
					<td id="g_2_8"><div></div></td>
					<td id="g_3_8"><div></div></td>
					<td id="g_4_8"><div></div></td>
					<td id="g_5_8"><div></div></td>
					<td id="g_6_8"><div></div></td>
					<td id="g_7_8"><div></div></td>
					<td id="g_8_8"><div></div></td>
					<td id="g_9_8"><div></div></td>
				</tr>
				<tr>
					<td id="g_0_9"><div></div></td>
					<td id="g_1_9"><div></div></td>
					<td id="g_2_9"><div></div></td>
					<td id="g_3_9"><div></div></td>
					<td id="g_4_9"><div></div></td>
					<td id="g_5_9"><div></div></td>
					<td id="g_6_9"><div></div></td>
					<td id="g_7_9"><div></div></td>
					<td id="g_8_9"><div></div></td>
					<td id="g_9_9"><div></div></td>
				</tr>
			</table>
			</div>
		</div>
		<!-- menu de droite -->
		<div class="col s3 full valign-wrapper">
			<div class="container-smal">
				<div>
					<span id="link"></span>
				</div>
				<div class="row">
					<div class="col s12">
						<div class="card-panel ">
							<span class="blue-text text-darken-2">
								<div class="chatbox">
									<ul id="chat">
									</ul>
								</div>
								<div class="input-field">
									<input  id="text" type="text" class="validate">
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript" src="/js/pathfinding-browser.min.js"></script>
<script type="text/javascript" src="/js/game.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
